
body {
  font-family: optima;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: optima;
    font-size: 11px;
}

strong.normal{
  font-weight: normal;
  color: "black";
}

strong.choosen{
  color: "red";
}

.groupings.selected {
  color: "red";
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.h1text {
    color: blue;
    font-weight: bold;
}

.h2text {
    color: green;
    font-weight: bold;
}

#formDiv {
    text-align: center;
}

.form input {
    display: block;
    margin-bottom: 1em;
}

.form label {
    float: left;
    margin-right: 1em;
}

input[type="text"] {
    border:0;
    border-bottom:solid 1px grey;
    text-align: center;
    /*outline:none; /* prevents textbox highlight in chrome */*/
}

input[type="button"] {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    /*text-shadow: 1px 1px 1px #000;*/
}

input:focus,
input[type="text"].focus {
    outline:1 steelblue;
}

#formula {
    font-weight: bold;
}
